doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sales Page
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' rel='stylesheet')
h1 Sales
.container
  form#sales-form(action='/sales/addSale' method='post')
    .mb-3
      label.form-label(for='produceName') Produce Name
      input#produceName.form-control(type='text'  name='producename')
    .mb-3
      label.form-label(for='produceType') Buyer&apos;s Name
      input.form-control(type='text' id="buyer'sName"  name='buyersname')
    .mb-3
      label.form-label(for='dateTime') Date &amp; Time
      input#dateTime.form-control(type='datetime-local'  name='dateandtime')
    .mb-3
      label.form-label(for='tonnage') Tonnage (in kgs)
      input#tonnage.form-control(type='number' min='1'  name='tonnage')
    .mb-3
      label.form-label(for='cost') Amount Paid (in UgX)
      input#cost.form-control(type='number' min='1'  name='amountpaid')
    .mb-3
      label.form-label(for='dealerName') Sales Agent&apos;s Name
      input#salesAgentName.form-control(type='text'  name='salesagent')
    .mb-3
      label.form-label(for='paymentMethod') Payment Method
      input#paymentMethod.form-control(type='text'  name='paymentmethod')
    button.btn.btn-primary(type='submit') Submit
 
script(src='sales.js')